version: "3.9"

services:
  python-backend:
    build: .
    container_name: python-backend
    ports:
      - "8000:8000"
    environment:
      DB_HOST: mysql
      DB_USER: urei
      DB_PASSWORD: urei
      DB_NAME: urie
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: urei   # must have a value
      MYSQL_DATABASE: urie
      MYSQL_USER: urei
      MYSQL_PASSWORD: urei
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: urei
      PMA_PASSWORD: urei
      MYSQL_ROOT_PASSWORD: urei
    depends_on:
      - mysql

volumes:
  mysql_data: {}
